global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'consul'
    consul_sd_configs:
      - server: 'consul-server1:8500'
    relabel_configs:
      - source_labels: [__meta_consul_service]
        target_label: job

  - job_name: 'consul-metrics'
    metrics_path: '/v1/agent/metrics'
    params:
      format: ['prometheus']
    static_configs:
      - targets: 
        - 'consul-server1:8500'
        - 'consul-server2:8500'
        - 'consul-server3:8500'

